@use "../../App.scss";

.title-wrapper {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 16px;

    
}

@media only screen and (max-width: 750px) {
    .title-wrapper {
        font-weight: 700;
        font-size: 34px;
    }
    
}