$primary-color: #00856F;
$primary-background: #F7F9F9;
$padding: 37px 125px 37px 125px ;
$paddingResponsive : 24px;

* { 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.doctor-care-wrapper {
  font-family: 'DM Sans', sans-serif;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .doctor-care-wrapper {
    display: block;
  }
}
